Source: ros-melodic-lauv-control
Section: misc
Priority: extra
Maintainer: Musa Morena Marcusso Manhaes <musa.marcusso@de.bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-lauv-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-lauv-description, ros-melodic-uuv-auv-control-allocator, ros-melodic-uuv-control-utils, ros-melodic-uuv-teleop, ros-melodic-uuv-trajectory-control
Description: Collection of configuration and launch files to start controllers for the LAUV.
