Source: ros-melodic-lauv-gazebo
Section: misc
Priority: extra
Maintainer: Musa Morena Marcusso Manhaes <musa.marcusso@de.bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-lauv-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-lauv-control, ros-melodic-lauv-description, ros-melodic-rosbag, ros-melodic-uuv-control-utils
Description: Sample launch files to start a simulated LAUV in Gazebo.
