Source: ros-kinetic-lauv-control
Section: misc
Priority: extra
Maintainer: Musa Morena Marcusso Manhaes <musa.marcusso@de.bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-lauv-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-lauv-description, ros-kinetic-uuv-auv-control-allocator, ros-kinetic-uuv-control-utils, ros-kinetic-uuv-teleop, ros-kinetic-uuv-trajectory-control
Description: Collection of configuration and launch files to start controllers for the LAUV.
